html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}



.main--container{
  padding-left: 30%;
  
  padding-top: 2%;
  
  
}

.main--checkbox{
  
  top: 0%;
  margin-left: 0;
  max-width: 20%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height:fit-content;
  
  
}

 
.hover-button{
  position: -webkit-sticky;
  position: sticky;
  top: 20px,
}