html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}



.main--container{
  padding-left: 21%;
  
  padding-top: 2%;
  
  max-width: 90%;
  
}

.rowC{display:flex; flex-direction:row;}

.main--checkbox{
  
  top: 0%;
  margin-left: 0;
  max-width: 20%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height:fit-content;
  
  
  
}

.container1{
  max-width: 70%;
}

.container2{
  max-width: 30%;
}
 
.hover-button{
  position: -webkit-sticky;
  position: sticky;
  top: 20px,
}