.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;         
    flex-direction: column; 
    position: relative;
    margin: 4px;
    
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    border-width: 5px;
}
.card--image:hover{
    opacity: .73;
 
}
.img-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
}
.highlight{
    border-color: red;
}
.cont{
    width: 800px;
    height: auto;
    padding: 10px;
}


@media screen and (max-width: 760px) {
    .cont{
        width: 400px;
        height: auto;
        padding: 10px;
    }
    
    
}
.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: linear-gradient(90deg, #5b5177 0%, #c77373 100%);
    transition: opacity .4s ease, visibilty .4s ease, trasnform .5 ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;

}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    
}

.model.open svg{
    position: fixed;
    right: 10px;
    top: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    border: 10px black;
}
.results{
    background-color: white;
    color: white;
    align-items: center;
}

.resize{
    font-size: '50px';
}

text.list{
    font-size: '50px';
}