.label{
    display: flex;
  align-items: left;
}
.box{
    display: flex;
  align-items: right;
}
.slider{
    max-width: 50px;
    background: aliceblue;
    
    }
.table-container{
    
    width: 350px;
    background: #b6afe4;
    
    padding-top: 10px;
    color:white;
    border-radius: 6px;

    
 }

 .button{
  position:fixed;
   bottom: 1px;
   right:50px;
   background-color: #6C55F9;
  color: white;
  border-radius: 3px;
  font-size: 15px;
 }

 .heading{
  background-color: #6C55F9;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: 20px;
  color: white;
  font-weight: 10;
  
 }

 .attributes{

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  color: black;
 }

 .attributes-list{

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: black;
 }
 .slider{
 /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  width:100%; 
  right:0px;
}